:root {
    background-color: rgb(7, 26, 19);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   
}

h1 {
    font-size: 45px;
    font-weight: bolder;
    color: aliceblue;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 25px;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 5px;
    font-weight: lighter;
}

p {
    color: aliceblue;
    margin: 40px 0;
    text-align: center;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card {
    width: 100vw;
    height: 60vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
    
}

.hide {
    display: none;
}

#view-high-btn {
    font-size: 20px;
    padding: 5px 0;
    width: 180px;
    text-align: center;
    background-color: rgb(204, 231, 52);
    border-radius: 10px;
}

#view-high-btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px 2px aliceblue
}

#timer {
    position:absolute;
    top:0;
    right:0;
}

.btn {
    font-size: 25px;
    padding: 10px 0;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 162, 169);
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px 2px aliceblue
}

.quiz-screen {
    align-items: center;
}